[maxscale]
threads=auto
admin_enabled=true
admin_host=0.0.0.0
admin_port=8989
admin_secure_gui=false

[server1]
type=server
address=mariadb-server-1.local
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=mariadb-server-2.local
port=3306
protocol=MariaDBBackend

[server3]
type=server
address=mariadb-server-3.local
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1, server2, server3
user=maxscale
password=MaxScale123!
monitor_interval=1s
backend_connect_timeout=1s
backend_read_timeout=1s
backend_write_timeout=1s
failcount=1
auto_failover=true
auto_rejoin=true
master_failure_timeout=1s

[Read-Write-Splitter]
type=service
router=readwritesplit
servers=server1, server2, server3
user=maxscale
password=MaxScale123!
transaction_replay=true
transaction_replay_retry_on_deadlock=true
transaction_replay_retry_on_mismatch=true

[SQL-Listener]
type=listener
service=Read-Write-Splitter
protocol=MariaDBClient
port=4000

[NoSQL-Listener]
type=listener
service=Read-Write-Splitter
protocol=nosqlprotocol
nosqlprotocol.user=maxscale
nosqlprotocol.password=MaxScale123!
port=17017
